body {
    background-color: #f4f7f6;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0e76a8;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #0e76a8;
}

.contact {
    color: orange;
}

.projects {
    display:flex; 
    flex-wrap:wrap; 
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: azure;
    border-radius: 25%;
}
